.profile-username {
  color: white;
 
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  span {
    display: block;
  }
}

.profile-wrap {
  padding-top: 70.5px;
  max-width: 500px;
  width: 100%;
}

.profile-info-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.profile-info-container-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.following-container{
    color: white;
}

.log-out{
    color: white;
    margin-top: 50px;
}