.profile-username {
  color: white;
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  span {
    display: block;
  }
}

.profile-wrap {
  padding-top: 70.5px;
  max-width: 500px;
  width: 100%;
}

.profile-info-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 50px;
}

.profile-info-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.following-container {
    display: flex;
    margin-top: 5px;
  
    span{
        color: white;
        font-size: 14px;
        color: #999999;

        &:nth-child(1){
            margin-right: 5px;
        }
    }
}

.following-text-wrap{
    display: flex;

    &:nth-child(1){
        margin-right: 10px;
    }
}

.grey{
    color: #999999 !important;
}

.log-out {
  color: white;
  margin-top: 50px;
}
