header {
    position: fixed;
    background: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    background: #141414;
  
    h1 {
      font-size: 25px;
      color: white;
    }
  }
  
  .header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  p,
  span {
    font-family: sans-serif;
    color: rgb(21, 21, 21);
    font-size: 15px;
  }
  
  .new-post {
    font-size: 28px;
  }
  
  header {
    i {
      margin-right: 20px;
      color: white;
    }
  
    .list-icon {
      font-size: 28px;
    }
  
    .grid-icon {
      font-size: 28px;
    }
  

    .header-right {
      display: flex;
    }
  }