.post {
  margin-bottom: 30px;
  max-width: 500px;
}

.image-container {
  width: 100%;
  margin-bottom: 10px;

  img {
    width: 100%;
    display: block;
  }
}

.text-container {
  text-align: left;
  padding-left: 20px;
}

.username{
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
}

.caption{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}