.post {
  margin-bottom: 30px;
}

.image-container {
  max-width: 500px;
  background-color: rgb(222, 222, 222);
  

  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.text-container {
  text-align: left;
  margin-top: 5px;

  @media only screen and (max-width: 500px) {
    padding-left: 20px;
  }
}

.username{
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
  color: white;
}

.caption{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}