.post {
  margin-bottom: 30px;
  max-width: 500px;
}

.image-container {
  max-width: 500px;
  margin-bottom: 10px;

  img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
}

.text-container {
  text-align: left;
}

.caption{
  margin-top: 20px;
  margin-bottom: 10px;
}