.reaction-container{
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
   
}

.reaction{
    background: rgb(233, 233, 233);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    margin-bottom: 5px;
    
    &:hover{
        cursor: pointer;
    }

    img{
        width: 30px;
        cursor: pointer;
    }

}

.reaction-number-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: space-evenly;
}