.reaction-container{
    display: flex;

}

.reaction{
    background: rgb(238, 238, 238);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    margin-bottom: 5px;
    
    &:hover{
        cursor: pointer;
    }

    img{
        width: 25px;
        cursor: pointer;
    }

}

.reaction-number-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: space-evenly;
    margin-right: 20px;
}